## Provide a name to substitute for the full names of resources
##
fullnameOverride: ""

mode: distributed
{% if airgapped_mode %}
image:
  repository: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/minio/minio

mcImage:
  repository: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/minio/mc

helmKubectlJqImage:
  repository: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/bskim45/helm-kubectl-jq
{% endif %}


accessKey: "{{ minio_accesskey }}"
secretKey: "{{ minio_secretkey }}"


# Number of drives attached to a node
drivesPerNode: {{ minio_drives_per_node }}
# Number of MinIO containers running
replicas: {{ minio_replicas }}
# Number of expanded MinIO clusters
zones: 1

## Enable persistence using Persistent Volume Claims
## ref: http://kubernetes.io/docs/user-guide/persistent-volumes/
##
persistence:
  enabled: true

  ## A manually managed Persistent Volume and Claim
  ## Requires persistence.enabled: true
  ## If defined, PVC must be created manually before volume will be bound
  existingClaim: ""

  ## minio data Persistent Volume Storage Class
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  ## Storage class of PV to bind. By default it looks for standard storage class.
  ## If the PV uses a different storage class, specify that here.
  storageClass: "local"
  VolumeName: ""
  accessMode: ReadWriteOnce
  size: {{ minio_pv_size }}

  ## If subPath is set mount a sub folder of a volume instead of the root of the volume.
  ## This is especially handy for volume plugins that don't natively support sub mounting (like glusterfs).
  ##
  subPath: ""

## Expose the Minio service to be accessed from outside the cluster (LoadBalancer service).
## or access it from within the cluster (ClusterIP service). Set the service type and the port to serve it.
## ref: http://kubernetes.io/docs/user-guide/services/
##

service:
  type: ClusterIP
  clusterIP: ~
  port: 9000
  nodePort: {{ minio_nodeport }}

  ## List of IP addresses at which the Prometheus server service is available
  ## Ref: https://kubernetes.io/docs/user-guide/services/#external-ips
  ##
  externalIPs: []
  #   - externalIp1

  annotations: {}
    # prometheus.io/scrape: 'true'
    # prometheus.io/path:   '/minio/prometheus/metrics'
    # prometheus.io/port:   '9000'

## Configure Ingress based on the documentation here: https://kubernetes.io/docs/concepts/services-networking/ingress/
##

## Configure resource requests and limits
## ref: http://kubernetes.io/docs/user-guide/compute-resources/
##
resources:
  requests:
    cpu: 1
    memory: 4Gi

## Create multiple buckets after minio install
## Enabling `defaultBucket` will take priority over this list
##
buckets: 
  - name: artifacts
    policy: none
    purge: false
  - name: pachy
    policy: none
    purge: false

