# # Spock
# Below are the default values when installing Spock and its components

air_gapped:
  enable: {{ airgapped_mode }}
spock-service:
  image: {% if airgapped_mode %}{{ hostvars[groups.registry[0]].inventory_hostname }}:5000{% else %}registry.sensetime.com{% endif %}/industry/spock-service:v1.0.0
  imagePullPolicy: Always

mysql:
  image: {% if airgapped_mode %}{{ hostvars[groups.registry[0]].inventory_hostname }}:5000{% else %}registry.sensetime.com{% endif %}/industry/mysql:8.0.23