apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  # Application controller is used to provide Google Cloud Console integration.
  - ../../third-party/application
  - ../../base/application
  - ../platform-agnostic

# Identifier for application manager to apply ownerReference.
# The ownerReference ensures the resources get garbage collected
# when application is deleted.
commonLabels:
  application-crd-id: kubeflow-pipelines

# !!! If you want to customize the namespace,
# please refer sample/cluster-scoped-resources to update the namespace for cluster-scoped-resources
namespace: kubeflow
images:
- name: gcr.io/ml-pipeline/application-crd-controller
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/ml-pipeline/application-crd-controller
- name: gcr.io/ml-pipeline/metadata-envoy
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/ml-pipeline/metadata-envoy
- name: gcr.io/tfx-oss-public/ml_metadata_store_server
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/tfx-oss-public/ml_metadata_store_server
- name: gcr.io/ml-pipeline/minio
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/ml-pipeline/minio
- name: gcr.io/ml-pipeline/mysql
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/ml-pipeline/mysql
- name: gcr.io/ml-pipeline/workflow-controller
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/ml-pipeline/workflow-controller
- name: gcr.io/ml-pipeline/visualization-server
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/ml-pipeline/visualization-server
- name: gcr.io/ml-pipeline/viewer-crd-controller
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/ml-pipeline/viewer-crd-controller
- name: gcr.io/ml-pipeline/frontend
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/ml-pipeline/frontend
- name: gcr.io/ml-pipeline/api-server
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/ml-pipeline/api-server
- name: gcr.io/ml-pipeline/scheduledworkflow
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/ml-pipeline/scheduledworkflow
- name: gcr.io/ml-pipeline/persistenceagent
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/ml-pipeline/persistenceagent
- name: gcr.io/ml-pipeline/metadata-writer
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/ml-pipeline/metadata-writer
- name: gcr.io/ml-pipeline/cache-deployer
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/ml-pipeline/cache-deployer
- name: gcr.io/ml-pipeline/cache-server
  newName: {{ hostvars[groups.registry[0]].inventory_hostname }}:5000/ml-pipeline/cache-server
